.clock {
     font-size:120px;
     font-family: 'Cute Font', cursive;
     font-weight: bold;
     color:white ;
     position: relative;
     top:-26px;
     display:inline;
     margin:0;
}
#clock{
     display: flex;
}
