#weather {
     height: 45px;
     width:55% ;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 25px;
     background-color: rgba(67, 255, 208, 0.5);
     position: relative;
     top:20px;
}
#weather span:first-child{
     position: absolute;
     left:20px;
     display: flex;
     align-items: center;

}
#weather svg {
     width: 40px;
     height: 40px;
     color:rgba(0, 0, 0, 0.798);
}

#weather span:last-child{
     color:rgba(0, 0, 0, 0.792);
     font-size: 30px;
}